.archNews{
	&__tit{
		margin-bottom: 28px;
	}
	&__list{
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,wrap,space-between,stretch);
		}
	}
	&__item{
		text-decoration: none;
		margin-bottom: 70px;
		@media (min-width: $screen-sm-min) {
			width: calc(33.33% - 19px);
			flex-basis: calc(33.33% - 19px);
		}	
		&--featured{
			width: calc(100%);
			flex-basis: calc(100%);
			.itemWrap{
				@media (min-width: $screen-sm-min) {
				@include flexWrapper(row,wrap,space-between,center);
					& > div{
						width: calc(50%);
						flex-basis: calc(50%);
					}
					.archNews{
						&__itemTextWrap{
							padding-left: 95px;
							padding-right: 135px;
						}
						&__itemExc{
							border-bottom: 2px solid $black;
							padding-bottom: 30px;
						}
						&__itemFeat{
							min-height: 514px;
						}
					}
				}
			}
		}
		&--grey{
			background-color: $bg;
			padding-left: 45px;
			padding-top: 40px;
			padding-bottom: 17px;
			@media (min-width: $screen-sm-min) {
				padding-left: 90px;
				padding-top: 85px;
				padding-bottom: 35px;
				width: calc(50% - 30px);
				flex-basis: calc(50% - 30px);
			}
			.archNews{
				&__itemTextWrap{
					padding-right: 55px;
					@media (min-width: $screen-sm-min) {
						padding-right: 115px;
					}
					&__itemFeat{
						min-height: 320px;
					}
				}
			}
		}
	}
	&__itemFeat{
		@include cover;
		min-height: 280px;
		margin-bottom: 18px;
	}
	&__itemTextWrap{
		padding-right: 25px;
	}
	&__itemCat{
		margin-bottom: 14px;
	}
	&__itemTit{
		text-decoration: underline;
		margin-bottom: 16px;
	}
}