.homeSec{
    margin-bottom: 160px;
}

.homeSolutionsFeat{
    &__wrap{
        @media (min-width: $screen-sm-min) {
            @include flexWrapper(row,nowrap,flex-end,stretch);
            & > div{
                width: 50%;
                flex-basis: 50%;
            }
        }
    }
    &__img{
        @media (max-width: $screen-xs-max) {
            min-height: 50vh;
        }
    }
    &__cont{
        background-color: $bg;
        padding-top:35px;
        padding-bottom:35px;
        @media (min-width: $screen-sm-min) {
            margin-top: 25px;
            margin-bottom: 25px;
            padding-left: 65px;
        }
        @media (max-width: $screen-xs-max) {
            margin-left: 15px;
            margin-right: 15px;
            padding-left:25px;
            padding-right:25px;
        }
    }
    &__prod{
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        @media (min-width: $screen-sm-min) {
            max-width: 230px;
        }
        @media (max-width: $screen-xs-max) {
            margin-bottom: 15px;
        }
    }
    &__title{
        margin-bottom: 0.3em;
    }
    &__text{
        margin-bottom: 15px;
        @media (min-width: $screen-lg-min) {
            max-width: 400px;
        }
    }
}