.homeSolutions{
    &__wrap{
        @include cover;
        padding-top: 165px;
        padding-bottom: 100px;
        @media (min-width: $screen-sm-min) {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    &__list{
        margin-bottom: 40px;
        margin-top:30px;
        //@include flexWrapper(row,nowrap,center,center);
    }
    &__el{
        text-align: center;
        &.slick-active{
            a{
                opacity: 0.5;
            }
        }
    }
    &__elCont{
        height: 180px;
        width: 180px;
        @include flexWrapper(row,nowrap,center,center);
        a{
            @include flexWrapper(row,nowrap,center,center);
            background-color:$white;
            height: 130px;
            width: 130px;
            border-radius: 70px;
            opacity: .7;
            transition: all .3s ease;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .slick-current{
        a{
            height: 180px;
            width: 180px;
            border-radius: 90px;
            opacity: 1;
            .homeSolutions__elName{
                font-size:1.2rem;
            }
        }
    }
    &__elName{
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}