.homeSlider{
    &__slider{
        @media (min-width: $screen-lg-min) {
            min-height: 620px;
        }
        .slide{
            &__wrap{
                @include flexWrapper(row,nowrap,flex-end,center);
                @include cover;
                overflow: hidden;
                position: relative;
                width: 100%;
                @media (min-width: $screen-lg-min) {
                    min-height: 620px;
                }
            }
            &__cont{
                @include flexWrapper(row,nowrap,center,center);
                z-index: 10;
                width: 50%;
                @media (min-width: $screen-lg-min) {
                    padding-left: 110px;
                    padding-right: 220px;
                    padding-top:75px;
                    padding-bottom:75px;
                }
                @media (max-width: $screen-md-max) {
                    padding-top: 135px;
                    padding-bottom:45px;
                    padding-top:50px;
                    padding-bottom:50px;
                }
                @media (max-width: $screen-xs-max) {
                    padding-top: 15px;
                    padding-bottom:15px;
                }
            }
            &__prod{
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
                max-width: 70%;
                @media (min-width: $screen-sm-min) {
                    max-width: 230px;
                }
                @media (max-width: $screen-xs-max) {
                    margin-bottom: 15px;
                }
            }
            &__title{
                margin-bottom: 0.3em;
                @media (max-width: $screen-xs-max) {
                    font-size: rem(24px);
                }
            }
            &__text{
                margin-bottom: 15px;
                @media (max-width: $screen-xs-max) {
                    display: none;
                }
                @media (min-width: $screen-lg-min) {
                    
                    max-width: 400px;
                }
            }
            &__video{
                position: absolute;
                z-index: 1;
                width: 100%;
                height: auto;
                object-fit: cover;
            }

        }
    }
}