.homeIntro{
    &__wrap{
        position: relative;
        @media (min-width: $screen-sm-min) {
            @include flexWrapper(row,nowrap,flex-end,stretch);
            margin-top: 65px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                height: 100%;
                width: 75%;
                background-color: $bg;
            }
        }
        @media (min-width: $screen-lg-min) {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__cont{
        z-index: 1;
        @media (min-width: $screen-sm-min) {
            padding-left: 50px;
            padding-top: 75px;
            padding-right:90px;
            width: 60%;
            flex-basis: 60%;
        }
        @media (max-width: $screen-xs-max) {
            background-color: $bg;
            padding-left: 45px;
            padding-top: 45px;
            padding-right:45px;
            padding-bottom: 90px;
        }
    }
    &__title{
        margin-bottom: 0.3em;
    }
    &__text{
        margin-bottom: 15px;
    }
    &__imgWrap{
         @include flexWrapper(row,nowrap,flex-start,flex-end);
         z-index: 1;
         @media (min-width: $screen-sm-min) {
            width: 40%;
            flex-basis: 40%;
        }
        @media (max-width: $screen-xs-max) {
            padding-left:25px;
            padding-right:25px;
        }
        img:nth-child(1){
            width: 65%;
            margin-top: 75px;
            margin-bottom: 100px;
            margin-right: -25px;
            @media (max-width: $screen-xs-max) {
                margin-top: -45px;
            }
        }
        img:nth-child(2){
            width: 35%;
        }
    }
}