.btn{
	padding: 12px 32px 10px 32px;
	display: inline-block;
	font-size: 1rem;
	line-height: .8em;
	position: relative;
	&--large{
		padding-left: 100px;
		padding-right: 100px;
	}
	&--underline{
		border:none;
		font-weight: 700;
		color: $black;
		text-decoration: underline;
	}
	&--arrow{
		&:after{
			@include cover;
			content: '';
			display: block;
			width: 13px;
			height: 5px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 18px;
			transition: all .18s linear;
			background-image:url(/svgStandAlone/8x16/FFFFFF/images/svg/arrow.svg);
		}
	}
	&--big{
		padding-left:65px;
		padding-right:65px;
		padding-top:22px;
		padding-bottom:24px;
	}
	&--white{
		background-color: $white;
		color: $black;
		&:hover{
			color: $black;
		}
		&Outline{
			border: 1px solid $black;
		}
	}
	&--black{
		background-color: $black;
		color: $white;
		&:hover{
			color: $white;
		}
	}
	&--trasp{
		background-color: transparent;
		color: $black;
		&:hover{
			color: $black;
		}
	}
	&--traspWhite{
		background-color: transparent;
		color: $white;
		&:hover{
			color: $white;
		}
		&:after{
			background-image: url(/svgStandAlone/8x16/FFFFFF/images/svg/arrow.svg);
		}
	}
	&:hover{
		text-decoration: none;
		&:after{
			right: 13px;
			transition: all .18s linear;
		}
	}
}