$pad: rem(15);

.commonPage{
	padding-bottom: rem(70);
	padding-top: rem(20);
	&__wrap{	
		padding-left: rem(15); 
		padding-right: rem(15);
	}
	&__title{
		display: block;
		margin-bottom: rem(20);
	}
	&__text{
		p{
			padding-bottom: $pad;
		}
		ul, ol{
			padding-left: $pad;
			margin-bottom: $pad;
		}
		ul{
			list-style: disc;
		}
		ol{
			list-style: decimal
		}
		iframe{
			margin-top: $pad;
			margin-bottom: $pad;
		}
	}
}