*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  vertical-align: top;
}

html{
  min-height:100% !important; 
  overflow-x: hidden;
  font-size: $theme-font-base;
}

body { overflow: hidden; margin: 0 auto; font-family: $font_1; color:$black; min-height: 100vh; background-color: $white;}

body, select, input, textarea {-webkit-tap-highlight-color: transparent; word-break:keep-all;}

a {color: $black; outline: 0;}
a:hover, a:active, a:focus {color:$black; outline: 0; text-decoration: none;}


::selection {background: $black; color: lighten($black, 92%); text-shadow: none;} 

a:link {
  -webkit-tap-highlight-color: $white; 
  outline: 0;
}

a:hover{
  color: $black;
  outline: 0;
  transition:all .15s ease;
  text-decoration: underline;
}
ins {background-color: $black; color: $white; text-decoration: none;}
mark {background-color: $black; color: $white; font-style: italic; font-weight: bold;}

p{font-size:1rem; margin:0; line-height: 1.2rem; font-family: $font_1; color:$black}

ul, ol{
  list-style: none; 
  padding-left: 0; 
  margin-bottom: 0; 
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

section{
  position: relative;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $screen-lg-min) {
    width: 1200px;
  }
  @media (min-width: 1600px) {
    width: 80vw;
  }
}

pre{
    position:fixed;
    right:0;
    top:0;
    text-align: left;
    text-transform: none;
    width:325px;
    height:100%;
    background:#fff;
    overflow-y:auto;
    line-height: 11px;
    font-size: 11px;
    letter-spacing: 0;
    word-spacing: 0;
    z-index:999999999999999;
    padding: 10px;
    margin: 0;
    word-break:normal;
    word-wrap:normal;
    font-family: arial;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    overflow-y:auto;
    color:#000 !important;
}

#main-cont{
  &.exiting{
    opacity: 0;
    transition: opacity .4s ease-out;
  }
  &.entering{
    opacity: 1;
    transition: opacity .4s ease-in;
  }
}



/* MIXINS
-------------------- */

.no-padding{
  padding-left: 0;
  padding-right: 0;
}
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}
.center-block{float: none;}
.cover,.contain{
  background-repeat: no-repeat;
  background-position: center;
}

.cover{background-size: cover;}
.contain{background-size: contain;}

.linkTo{cursor: pointer}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}
.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none !important;
  }
}
.hidden-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: none !important;
  }
}
.hidden-lg {
  @media (min-width: $screen-lg-min) {
    display: none !important;
  }
}

.clearfix{
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

