.footer{
	background-color: $color_1;
	padding-top: rem(55);
	padding-bottom: rem(45);
	&__map{
		width: 100vw;
		height: rem(450);
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			height: rem(380);
		}
	}
	&__wrap{
		@include flexWrapper(row,wrap,space-between,flex-start);
		@media (max-width: $screen-xs-max) {
			flex-direction: column;
		}
	}
	&__data{
		@media (max-width: $screen-xs-max) {
			margin-bottom: rem(60);
		}
	}
	&__menu{
		@media (max-width: $screen-xs-max) {
			margin-bottom: rem(60);
		}
		li{
			display: block;
			margin-bottom: rem(12); 
			&.current_page_item, &.current-menu-item, &.current-menu-parent, &.current-page-ancestor{
				a{
					text-decoration: underline
				}
			}
		}
		a{
			color: $color_1;
			line-height: 1em;
		}
	}

	.social{
		@include flexWrapper(row,wrap,flex-start,center);
		margin-bottom: rem(35);
		&__lab{
			margin-right: rem(15);
		}
		li{
			display: inline-block;
			margin-right: rem(15);
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.header{	
		&__langs{
			position: relative;
			bottom: 0;
			left: 0;
			@media (max-width: $screen-xs-max) {
				text-align: left;
			}
			a, span{
				font-size: 1rem;
				&.active{
					color: $color_1;
				}
				@media (max-width: $screen-xs-max) {
					&:first-child{
						padding-left: 0;
					}
				}
			}
		}
	}

}