input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.halfBlock{
    @media (min-width: $screen-sm-min) { 
        width: calc(50% - #{rem(15)});
        display: inline-block;
        &:nth-of-type(even){
            margin-right: rem(26);
        }
    }
}

.screen-reader-response, .wpcf7-display-none{
    display: none;
    clear: both;
}
input:not([type="submit"]):not([type="checkbox"]), textarea{
    appearance:none;
    border:none;
    border: 1px solid $color_1;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
    color: $color_1;
    font-size: .9rem;
    border-radius: 0;
    font-family: $font_1;
    letter-spacing: 0;
    text-align: left;
    // padding-bottom: 5px;
    background-color: transparent;
    height: rem(40);
    padding-left: rem(10);
    text-transform: uppercase;
    &:focus{
        box-shadow: none;
        outline:none;
        color: $color_1;
        font-family: $font_1;
    }
}

[name="messaggio"]{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: rem(150);
    padding-top: rem(10);
}
.form_label{
    font-weight: 500;
    font-size: .867rem;
    font-family: $font_1;
    line-height: 1em;
    padding-bottom: rem(10);
    display: block;
    color: $color_1;
    text-transform: uppercase;
}

.wpcf7-form-control-wrap:not(.privacy):not([type="submit"]){
    position: relative;
    display: block;
    margin-bottom: rem(20);
    // width: 100%;
}
.wpcf7{
    br{
        display: none;
    }
    @media (max-width:$screen-xs-max) {
        .no-padding-left,
        .no-padding-right{
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.required{
    color: $color_1;
    font-family: $font_1;
    font-weight: 500;
    font-size: .867rem;
}

div.wpcf7-response-output{
    padding: rem(15);
    line-height: 1em;
    border:none;
    width: calc(100% - #{rem(30)});
    text-align: center;
    background: $color_1;
    color: $white;
    font-family: $font_1;
    margin-top: rem(30);
    position: relative;
    z-index: 10;
}
span.wpcf7-not-valid-tip{
    display: block;
    // position: absolute;
    top: rem(5);
    font-size: .7rem;
    color: $white;
    margin-top: rem(8);
    background: $black;
    padding: rem(5) rem(10);
    float: right;
    transition: all .15s ease-in;
}

// div.wpcf7 .ajax-loader{
//     display: none;
// }


.required{
    font-size: .87rem;
    display: block;
    margin-bottom: rem(30);
}

.privacy{
    width: 100%;
    display: block;
    margin-bottom: rem(60);
    @media (max-width: $screen-md-max) {
        margin-bottom: rem(40);
    }
    @media (max-width: $screen-xs-max) {
        margin-bottom: rem(20);
    }
    span, .wpcf7-acceptance{
        display: block;
        @include clearfix;
    }
    [type="checkbox"]{
        display: inline-block;
        margin-right: rem(15);
        flex-basis: rem(13);
    }
    .wpcf7-list-item{
        label{
            @include clearfix;
            @include flexWrapper(row,wrap,flex-start,center);
            position: relative;
            width: 100%;
            cursor: pointer;
            padding-bottom: 0;
            // margin-bottom: 40px;
        }
    }
    .wpcf7-list-item-label{
        display: inline-block;
        flex-basis: calc(100% - #{rem(30px)});
        font-size: 1rem;
        line-height: rem(22);
        color: $color_1;
        font-size: .87rem;
        font-family: $font_1;
        font-weight: 500;
        height: auto !important;
        @media (max-width: $screen-sm-max) {
            line-height: 1.3em;
        }
        a{
            text-decoration: underline;
            color: $white;
            opacity: 1;
        }
    }
}

.form{
    &__submit{
        @include flexWrapper(row, wrap, space-between, center);
    }
    &__privacyWrap{
        flex: 1 1 auto;
    }
}

[type="submit"]{
    appearance: none !important;
    cursor: pointer;
    border: none;
    text-align: center;
    font-family: $font_1;
    font-weight: 300;
    font-size: .867rem;
    line-height: 1em;
    text-transform: uppercase;
    padding: rem(14) rem(25);
    display: inline-block;
    background-color: $black;
    color: $white;
    min-width: rem(140);
    transition: all .2s linear;
    &:hover, &:focus{
        box-shadow: none;
        outline: none;
        text-decoration: none;
        background-color: darken($color_1, 10%);
        transition: all .2s linear;
    }
    &:hover, &:focus, &:active{
        outline: none;
        box-shadow: none;
    }
    &:disabled{
        opacity: .5;
        cursor: not-allowed;
    }

    @media (max-width: $screen-xs-max) {
        margin-top: rem(20);
    }
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: rem(10);
}

.select {
    cursor: pointer;
    display: block;
    position: relative;
}

.select-styled{
    font-weight: 700;
    font-size: .9rem;
    border: 1px solid $color_1;
    padding: rem(10);
    color: white;
    height: rem(40);
    position: relative;
    font-family: $font_1;
    font-weight: 400;
    color: $color_1;
    text-transform: uppercase;
    &:after {
        @include cover; 
        content: "";
        width: rem(21);
        height: rem(12);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .15s linear;
        right: rem(20);
        background-image: url(/images/svg/form_arrow.svg);
    }
    &.active{
        &:after{
            transition: all .15s linear;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.select-options {
    display: none;
    background-color: $color_1;
    color: $color_1;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: rem(10);
    font-family: $font_1;
    // padding: 10px;
}
.select-options li {
    margin: 0;
    padding: rem(10);
    font-weight: 700;
    font-size: .85rem;
    transition: all 0.15s ease;
    color: $color_1;
    cursor: pointer;
    font-weight: 500;
    font-size: .867rem;
    font-family: $font_1;
    text-transform: uppercase;
    &:first-child{
        display: none;
    }
    &:hover{
        color: $color_1;
        background-color: $color_1;
        transition: all 0.15s ease;
    }
}
.select-options li[rel="hide"] {
    display: none;
}

[type="checkbox"]{
    &:not(:checked),
    &:checked{  
        position: absolute;
        left: 0;
        z-index: 100;
        opacity: 0;
        width: rem(20);
        height: rem(20);
        display: block;
        top: 0;
        left: rem(-6);
        & + span{
            position: absolute;
            width: rem(20);
            height: rem(20);
            cursor: pointer;
            padding-left: rem(35);
            &:before{
                content: '';
                position: absolute;
                left: 0; 
                top: 2px;
                width: rem(20);
                height: rem(20);
                z-index: 10;
                transition: background .2s;
                cursor: pointer;
                background-size: rem(12);
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid lighten($black, 59%);
            }
        }
    }

    &:disabled:not(:checked) + span,
    &::disabled:checked + span{
        &:before{
            box-shadow: none;
            border-color: $black;
            background-color: $black;
        }
    }
    
    &:checked + span:before {
        background-color: white;
        background-image: url(../images/check_icon.svg);
    }

    &:disabled + span{
        color: $black;
    }
}

.check-styled{
    position:relative;
    [type="checkbox"]{
        &:not(:checked),
        &:checked{ 
            & + span{
                position: absolute;
            }
        }
    } 
    &__label{
        padding-left: rem(30);
        display: inline-block;
    }
}

