.header{
  &__hamburger{
    transition: .2s ease;
    height: 16px;
    width: 30px;
    transform: rotate(0deg);
    cursor: pointer;
    position: relative;
    z-index: 1001;
    span{
      background: $white;
      display: block;
      height: 2px;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .2s ease;
      width: 100%;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 8px;
      }
      &:nth-child(4) {
        top: 16px;
      }
    }
    &.opened {
      span {
        background: $white;
        &:nth-child(1) {
          left: 50%;
          top: 18px;
          width: 0%;
        }
        &:nth-child(2) {;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          left: 50%;
          top: 18px;
          width: 0%;
        }
      }
    }
  }
}
