@mixin flexWrapper($direction, $wrap, $justify, $align){
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin overlay($color, $opacity){
  background: fade($color, $opacity);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@mixin contain{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin clearfix {
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

@mixin centerBlock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@function rem($pixels, $context: $theme-font-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}