.nlBlock{
	padding-top: 160px;
	@media (max-width:$screen-xs-max) {
		padding-top: 80px;
	}
	&__title{
		margin-bottom: 10px;
	}
	&__subtitle{
		font-size: 1.2rem;
		font-weight: bold;
	}
	&__wrap{
		margin: 0 auto;
		@media (min-width:$screen-sm-min) {
			max-width: 780px;
		}
	}
	&__form{
		margin-top: 38px;
		@include flexWrapper(row,nowrap,flex-start,flex-start);
		input[type="email"]{
			margin-bottom: 15px;
		}
		.privacy-acceptance{
			.form-list-item-label{
				color: $white;
			}
			a{
				color: inherit;
				text-decoration: underline;
			}
		}
	}
	&__inputs{
		flex-grow: 1;
		@media (max-width:$screen-xs-max) {
			width: 65%;
			flex-basis: 65%;
		}
	}
	&__submitWrap{
		@media (max-width:$screen-xs-max) {
			width: 35%;
			flex-basis: 35%;
		}
		button{
			padding-left: 25px;
			padding-right: 25px;
			@media (max-width:$screen-xs-max) {
				width: 100%;
				margin-top: 0;
			}
		}
	}
}