.slick-prev,
.slick-next {
	width: 17px;
	height: 44px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10000;
	cursor: pointer;
	border:none;
	background:none;
	background-image: url(/medavita-corporate/images/svg/slider_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	appearance: none;
	text-indent: -9999px;
	outline: none;
}

.slick-prev{
	left: -40px;
	transform: translateY(-50%) rotate(180deg);
	@media (max-width: $screen-xs-max) {
		left: 0 !important;
	}
}
.slick-next{
	right: -40px;
	@media (max-width: $screen-xs-max) {
		right: 0 !important;
	}
}

.slick-slide{
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.slick-dots{
	@include flexWrapper(row,wrap,center,flex-end);
	margin-top: 35px;
	height: 7px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) {
		justify-content: center;
	}
	li{
		display: inline-block;
		width: 40px;
		height: 5px;
		background-color: transparent;
		border-bottom: 1px solid lighten($black, 60%);
		margin-right: 10px;
		position: relative;
		&.slick-active{
			background-color: lighten($black, 60%);
			
		}
		&:last-child{
			margin-right: 0;
		} 
		button{
			opacity: 0;
			width: 100%;
    		display: block;
    		cursor: pointer;
		}
	}
}
