.black{font-weight: 900};
.extrabold{font-weight: 800};
.bold{font-weight: 700};
.semibold{font-weight: 600};
.medium{font-weight: 500};
.regular{font-weight: 400};
.light{font-weight: 300};

.title,
.text{
	& *{
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		color: inherit;
	}
	b,strong{
		font-weight: 700;
	}
}

.title{
	font-family: $font_2;
	font-weight: 400;
	line-height: 1.1em;
	&--xs{
		font-size: rem(19px);
		@media (max-width: $screen-xs-max) {
			font-size: rem(17px);
		}
	}
	&--sm{
		font-size: rem(26px);
		@media (max-width: $screen-xs-max) {
			font-size: rem(21px);
		}
	}
	&--md{
		font-size: rem(36px);
		@media (max-width: $screen-xs-max) {
			font-size: rem(30px);
		}
	}
	&--lg{
		font-size: rem(40px);
		@media (max-width: $screen-xs-max) {
			font-size: rem(28px);
		}
	}
	&--xl{
		font-size: rem(52px);
		@media (max-width: $screen-xs-max) {
			font-size: rem(42px);
		}
	}
	&--underline{
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 30px;
		&:after{
			content: '';
			display: inline-block;
			width: 50px;
			border-bottom: 1px solid #000;
			position: absolute;
			bottom:0;
			left: 50%;
			transform: translateX(-50%);
		}
		&--wide{
			font-size: 1.15rem;
			&:after{
				width: 450px;
				@media (max-width: $screen-sm-max) {
					width: 100%;
				}
			}
		}
	}
}

.text{
	&--xs{
		font-size: rem(13px);
	}
	&--sm{
		font-size: rem(18px);
	}
	&--md{
		font-size: rem(22px);
	}
	@media (max-width: $screen-xs-max) {
		line-height: 1.27em;
		br{
			display: none;
		}
	}
	ul,ol{
		list-style: disc;
		li{
			margin-left: rem(20);
			padding-bottom: rem(5);
		}
	}
}

.white{
	color: $white;
}