$white: #fff;
$black: #000;
$bg: #F1F1F1;

$color_1: #BABDBD;
$color_2: #FEFBE9;
$blue_light: #EDF3F3;

$theme-font-base: 15px;

/* Fonts */

$font_1 : 'Mulish', sans-serif;
$font_2 : 'Playfair Display', serif;


/* Screen sizes */

$screen-xs: 480px;
$screen-xs-min: $screen-xs;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$screen-md: 992px;
$screen-md-min: $screen-md;

$screen-lg: 1200px;
$screen-lg-min: $screen-lg;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);