.pageBlocks{
	&__text{
		h1, h2, h3{
			font-family: $font_2;
			font-weight: 400;
			line-height: 1em;
			text-transform: uppercase;
			margin-bottom: 0.5em;
		}
		h1{
			font-size: rem(40px);
			@media (max-width: $screen-xs-max) {
				font-size: rem(28px);
			}
		}
		h2{
			font-size: rem(32px);
		}
		h3{
			font-size: rem(24px);
		}
	}
	&__introWrap{
		transform: translateY(-55px);
		@media (min-width: $screen-sm-min) {
			max-width: 770px;
			transform: translateY(-100px);
		}
	}
	&__introText{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 35px;
		padding-right: 35px;
		@media (min-width: $screen-sm-min) {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 75px;
			padding-right: 75px;
		}
		&__sol{
			margin-top: 10px;
			font-size: 0.9rem;
		}
	}
	&__itb{
		padding-top: 80px;
		padding-bottom: 80px;
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,nowrap,center,center);
			&--imageRight{
				@include flexWrapper(row-reverse,nowrap,center,center);
				.pageBlocks__itbText{
					&__wrap{
						padding-left: 120px;
						padding-right: 0;
					}
				}
			}
			& > div{
				width: 50%;
				flex-basis: 50%;
			}
		}
		@media (max-width: $screen-xs-max) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	&__itbText{
		&__wrap{
			@media (min-width: $screen-sm-min) {
				padding-right: 120px;
			}
		}
	}
	&__itbImage{
		@media (max-width: $screen-xs-max) {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
	&__vb{
		@include cover;
		@include flexWrapper(row,nowrap,center,center);
		min-height: 60vh;
		@media (max-width: $screen-xs-max) {
			min-height: 50vh;
		}
		overflow: hidden;
	}
	&__vbVideo{
		display: block;
		position: absolute;
		width: 100%;
	}
	&__vbTitle{
		position: relative;
		z-index: 1;
	}
	&__cib{
		padding-top: 80px;
		padding-bottom: 80px;
		@media (min-width: $screen-sm-min) {
			max-width: 600px;
		}
		@media (max-width: $screen-xs-max) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	&__cibImage{
		margin-bottom: 25px;
	}
	&__cibTitle{
		margin-bottom: 25px;
	}
	&__cibText{
		margin-bottom: 25px;
	}
	&__cibBtn{
	}
}