.page{
	&__visual{
		@include cover;
		@include flexWrapper(row,nowrap,center,center);
		min-height: 75vh;
		@media (max-width: $screen-xs-max) {
			min-height: 50vh;
		}
	}
	&__text{
		h1, h2, h3{
			font-family: $font_2;
			font-weight: 400;
			line-height: 1em;
			text-transform: uppercase;
			margin-bottom: 0.5em;
		}
		h1{
			font-size: rem(40px);
			@media (max-width: $screen-xs-max) {
				font-size: rem(28px);
			}
		}
		h2{
			font-size: rem(32px);
			@media (max-width: $screen-xs-max) {
				font-size: rem(26px);
			}
		}
		h3{
			font-size: rem(24px);
			@media (max-width: $screen-xs-max) {
				font-size: rem(21px);
			}
		}
	}
	&__introWrap{
		transform: translateY(-55px);
		@media (min-width: $screen-sm-min) {
			max-width: 770px;
			transform: translateY(-100px);
		}
	}
	&__introText{
		background-color: $blue_light;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 35px;
		padding-right: 35px;
		@media (min-width: $screen-sm-min) {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 75px;
			padding-right: 75px;
		}
	}
	&__wrap{
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,nowrap,space-around,flex-start);
		}
	}
	&__content{
		@media (min-width: $screen-sm-min) {
			width: 75%;
			flex-basis: 75%;
			padding-right: 80px;
		}
	}
	&__sidebar{
		margin-top: 15px;
		@media (min-width: $screen-sm-min) {
			width: 25%;
			flex-basis: 25%;
			padding-top: 35px;
			border-top: 1px solid $bg;
		}
	}
	&__sidebarNav{
		padding-left: 18px;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
		li{
			text-transform: uppercase;
			margin-bottom: 25px;
			color: lighten($black, 35%);
			&.current_page_item{
				font-weight: 700;
			}
		}
	}
	&__sidebarTitle{
		@include flexWrapper(column,nowrap,center,center);
		background-color: $bg;
		padding-left: 35px;
		padding-right:35px;
		padding-top:12px;
		padding-bottom:12px;
		font-weight: bold;
		font-size: 1rem;
		margin-bottom: 35px;
		@media (max-width: $screen-xs-max) {
			@include flexWrapper(row,nowrap,center,center);
			padding-left: 20px;
			padding-right:20px;
			cursor: pointer;
			&:after{
				content: '';
				width: 13px;
				height: 7px;
				background-image: url(../images/arrow-down-small.svg);
				background-position:center;
				margin-left: 10px;
			}
		}
		@media (min-width: $screen-sm-min) {
			display: none;
		}
	}
	&__tit{
		font-size: 2.4rem;
		margin-bottom: 22px;
	}
	&__sub{
		font-size: 1.1rem;
		font-weight: 700;
	}
	&__cont{
		color: lighten($black, 35%);
		@media (max-width: $screen-xs-max) {
			font-size: 1.1rem;
			line-height: 1.5em;
		}	
		p{
			padding-bottom: 25px;
		}
		h1, h2, h3, h4, h5{
			font-family: $font_2;
			display: block;
			color: $black;
			line-height: 1.15em;
		}
		h2{
			font-size: 2.15rem;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		h3{
			font-size: 1.75rem;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		h4{
			font-size: 1.5rem;
			margin-top: 15px;
			margin-bottom: 10px;
		}
		ul{
			list-style: disc;
			margin-left: 15px;
			margin-top: 15px;
		}
	}
}