<div class="container">
<div class="row">
<div class="col-3">
<ul>
<li><a title="Shampoo" href="/linee.html?mv_products=Shampoo">Shampoo</a></li>
<li><a title="Conditioner" href="/linee.html?mv_products=Balsamo">Conditioner</a></li>
<li><a title="Maschere" href="/linee.html?mv_products=Maschera">Maschere</a></li>
<li><a title="Fiale" href="/linee.html?mv_products=Fiale">Fiale</a></li>
<li><a title="Creme disciplinanti" href="#">Creme disciplinanti</a></li>
<li><a title="Corpo" href="/linee.html?mv_products=Prodotti+corpo">Corpo</a></li>
<li><a title="Doccia-shampoo" href="/linee.html?mv_products=Doccia-shampoo">Doccia-shampoo</a></li>
<li><a title="Scrub" href="/linee.html?mv_products=Scrub">Scrub</a></li>
<li><a title="Peeling" href="#">Peeling</a></li>
<li><a title="Olii" href="/linee.html?mv_products=Oli">Olii</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Microemulsioni" href="/linee.html?mv_products=Microemulsione">Microemulsioni</a></li>
<li><a title="Creme gel" href="/linee.html?mv_products=Crema+gel">Creme gel</a></li>
<li><a title="Spray" href="/linee.html?mv_products=Spray">Spray</a></li>
<li><a title="Sieri" href="/linee.html?mv_products=Siero">Sieri</a></li>
<li><a title="Mousse" href="/linee.html?mv_products=Mousse">Mousse</a></li>
<li><a title="Cere" href="/linee.html?mv_products=Cera">Cere</a></li>
<li><a title="Gel" href="/linee.html?mv_products=Gel">Gel</a></li>
<li><a title="Lacche" href="/linee.html?mv_products=Lacca">Lacche</a></li>
<li><a title="Polveri volumizzanti" href="/linee.html?mv_products=Polvere">Polveri volumizzanti</a></li>
<li><a title="Fluidi" href="/linee.html?mv_products=Fluido">Fluidi</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Shampoo colorati" href="/linee.html?mv_products=Shampoo+colorato">Shampoo colorati</a></li>
<li><a title="Maschere colorate" href="#">Maschere colorate</a></li>
<li><a title="Spray colorati" href="/linee.html?mv_products=Colore+spray">Spray colorati</a></li>
<li><a title="Mousse colorate" href="#">Mousse colorate</a></li>
<li><a title="Styling uomo" href="#">Styling uomo</a></li>
<li><a title="Shave&amp;care" href="#">Shave&amp;care</a></li>
<li><a title="Gel mani" href="#">Gel mani</a></li>
<li><a title="Creme mani" href="/linee.html?mv_products=Crema+mani">Creme mani</a></li>
<li><a title="Accessori" href="#">Accessori</a></li>
</ul>
</div>
<div class="col-3">
<div class="prodotto">
<div class="prod-img"><a title="Radiance - Olio spray illuminante 150ml" href="/radiance-olio-spray-illuminante-150ml-03128.html"><img src="{{media url="megamenu/styling_idol_shine_03128_03128_001.jpg"}}" alt="Radiance - Olio spray illuminante 150ml"></a></div>
<div class="prod-txt"><a title="Radiance - Olio spray illuminante 150ml" href="/radiance-olio-spray-illuminante-150ml-03128.html"><span class="prod-title">Glowing hair oil spray 150ml</span></a>
<p class="prod-line">Idol Radiance</p>
<p><span class="prod-solution">Olio</span> <span class="prod-price">32,10 €</span></p>
</div>
</div>
</div>
</div>
</div>