<div class="container">
<div class="row">
<div class="col-3">
<ul>
<li><a title="Anticaduta" href="/linee.html?mv_solutions=Anticaduta">Anticaduta</a></li>
<li><a title="Anticaduta maschile" href="/linee.html?mv_solutions=Anticaduta+uomo">Anticaduta maschile</a></li>
<li><a title="Trattamento antiforfora" href="#">Trattamento antiforfora</a></li>
<li><a title="Trattamento sebo-equilibrante" href="#">Trattamento sebo-equilibrante</a></li>
<li><a title="Trattamento calmante, tranquillante" href="#">Trattamento calmante, tranquillante</a></li>
<li><a title="Trattamento detossinante" href="#">Trattamento detossinante</a></li>
<li><a title="Trattamento condizionante, idratante" href="/linee.html?mv_solutions=Capelli+fini+ed+elettrici">Trattamento condizionante, idratante</a></li>
<li><a title="Trattamento detox" href="#">Trattamento detox</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Nutrimento" href="/linee.html?mv_solutions=Nutrire">Nutrimento</a></li>
<li><a title="Ricostruzione" href="/linee.html?mv_solutions=Ricostruzione">Ricostruzione</a></li>
<li><a title="Rigenerazione capillare" href="/linee.html?mv_solutions=Rigenerazione+capillare">Rigenerazione capillare</a></li>
<li><a title="Corpo e volume" href="/linee.html?mv_solutions=Corpo+e+volume">Corpo e volume</a></li>
<li><a title="Lisciante" href="/linee.html?mv_solutions=Lisciante+anticrespo">Lisciante</a></li>
<li><a title="Elasticizzante" href="/linee.html?mv_solutions=Elasticizzante">Elasticizzante</a></li>
<li><a title="Protezione solare" href="/linee.html?mv_solutions=Protezione+solare">Protezione solare</a></li>
<li><a title="Schiaritura" href="/linee.html?mv_solutions=Soluzioni+per+la+schiaritura">Schiaritura</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Illuminante" href="/linee.html?mv_solutions=Illuminare">Illuminante</a></li>
<li><a title="Protezione colore" href="/linee.html?mv_solutions=Luminosità+del+capello+colorato">Protezione colore</a></li>
<li><a title="Brillantezza colore" href="#">Brillantezza colore</a></li>
<li><a title="Styling" href="/linee.html?mv_solutions=Styling+e+shaving">Styling</a></li>
<li><a title="Shave &amp; care" href="/linee.html?mv_solutions=Shave+%26+Care">Shave &amp; care</a></li>
<li><a title="Idratante" href="/linee.html?mv_solutions=Idratare">Idratante</a></li>
<li><a title="Districante" href="/linee.html?mv_solutions=Districare">Districante</a></li>
</ul>
</div>
<div class="col-3">
<div class="prodotto">
<div class="prod-img"><a title="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml" href="/trattamento-intensivo-anticaduta-super-7ml-01105.html"><img src="{{media url="megamenu/cute_lotion-concentree_01105_01105_001.jpg"}}" alt="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml"></a></div>
<div class="prod-txt"><a title="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml" href="/trattamento-intensivo-anticaduta-super-7ml-01105.html"><span class="prod-title">Trattamento intensivo anticaduta super 12fl x 7ml</span></a>
<p class="prod-line">Lotion Concentrée</p>
<p><span class="prod-solution">Trattamento</span> <span class="prod-price">70,40 €</span></p>
</div>
</div>
</div>
</div>
</div>