<div class="container">
<div class="row">
<div class="col-3">
<ul>
<li><a title="Modellare e fissare" href="/linee.html?mv_solutions=Modellare+e+fissare">Modellare e fissare</a></li>
<li><a title="Schiaritura" href="/linee.html?mv_solutions=Schiaritura">Schiaritura</a></li>
<li><a title="Illuminare" href="/linee.html?mv_solutions=Illuminare">Illuminare</a></li>
<li><a title="Shave &amp; Care" href="/linee.html?mv_solutions=Shave+%26+Care">Shave &amp; Care</a></li>
<li><a title="Styling uomo" href="/linee.html?mv_solutions=Styling+uomo">Styling uomo</a></li>
<li><a title="Nutrire" href="/linee.html?mv_solutions=Nutrire">Nutrire</a></li>
<li><a title="Rigenerare" href="/linee.html?mv_solutions=Rigenerare">Rigenerare</a></li>
<li><a title="Riparare" href="/linee.html?mv_solutions=Riparare">Riparare</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Protezione colore" href="/linee.html?mv_solutions=Protezione+colore">Protezione colore</a></li>
<li><a title="Brillantezza colore" href="/linee.html?mv_solutions=Brillantezza+colore">Brillantezza colore</a></li>
<li><a title="Contrastare la caduta" href="/linee.html?mv_solutions=Contrastare+la+caduta">Contrastare la caduta</a></li>
<li><a title="Detergere frequentemente" href="/linee.html?mv_solutions=Detergere+frequentemente">Detergere frequentemente</a></li>
<li><a title="Elasticizzare" href="/linee.html?mv_solutions=Elasticizzare">Elasticizzare</a></li>
<li><a title="Lisciare" href="/linee.html?mv_solutions=Lisciare">Lisciare</a></li>
<li><a title="Protezione solare" href="/linee.html?mv_solutions=Protezione+solare">Protezione solare</a></li>
<li><a title="Contrastare la caduta maschile" href="/linee.html?mv_solutions=Contrastare+la+caduta+maschile">Contrastare la caduta maschile</a></li>
</ul>
</div>
<div class="col-3">
<ul>
<li><a title="Detossinante" href="/linee.html?mv_solutions=Detossinante">Detossinante</a></li>
<li><a title="Contrastare la forfora" href="/linee.html?mv_solutions=Contrastare+la+forfora">Contrastare la forfora</a></li>
<li><a title="Dare corpo e volume" href="/linee.html?mv_solutions=Dare+corpo+e+volume">Dare corpo e volume</a></li>
<li><a title="Idratare" href="/linee.html?mv_solutions=Idratare">Idratare</a></li>
<li><a title="Ravvivare il colore" href="/linee.html?mv_solutions=Ravvivare+il+colore">Ravvivare il colore</a></li>
<li><a title="Riequilibrare" href="/linee.html?mv_solutions=Riequilibrare">Riequilibrare</a></li>
<li><a title="Igienizzare" href="/linee.html?mv_solutions=Igienizzare">Igienizzare</a></li>
<li><a title="Styiling" href="/linee.html?mv_solutions=Styiling">Styiling</a></li>
</ul>
</div>
<div class="col-3">
<div class="prodotto">
<div class="prod-img"><a title="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml" href="/trattamento-intensivo-anticaduta-super-7ml-01105.html"><img src="{{media url="megamenu/cute_lotion-concentree_01105_01105_001.jpg"}}" alt="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml"></a></div>
<div class="prod-txt"><a title="Lotion Concentrée - Trattamento intensivo anticaduta super 7ml" href="/trattamento-intensivo-anticaduta-super-7ml-01105.html"><span class="prod-title">Trattamento intensivo anticaduta super 12fl x 7ml</span></a>
<p class="prod-line">Lotion Concentrée</p>
<p><span class="prod-solution">Trattamento</span> <span class="prod-price">70,40 €</span></p>
</div>
</div>
</div>
</div>
</div>