.productLine{
	&__intro--LC{
		img{
			margin-bottom: 20px;
		}
	}
	&__test{
		margin-bottom: 95px;
	}
	&__testPerc{
		margin-bottom: 45px;
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,nowrap,space-around,center);	
			max-width: 770px;
		}
		&__elImg{
			max-width: 100%;
			margin-bottom: 55px;
		}
	}
	&__testTitle{
		@media (min-width: $screen-sm-min) {
			max-width: 770px;
		}
	}
	&__testList{
		padding:0;
		margin-top: 45px;
		margin-bottom: 25px;
		border-bottom: 1px solid;
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,wrap,flex-start,stretch);	
		}
		&__elWrap{
			border-top: 1px solid;
			padding-top:25px;
			padding-bottom: 25px;
			padding-left: 15px;
			padding-right: 15px;
			@include flexWrapper(row,nowrap,flex-start,center);	
			@media (min-width: $screen-sm-min) {
				width: 50%;
				flex-basis: 50%;
				padding-left: 115px;
				padding-right: 115px;
			}
		}
		&__el{
			@include flexWrapper(row,nowrap,flex-start,center);	
		}
		&__elImg{
			margin-right: 25px;
			flex-basis: 70px;
			width: 70px;
			min-width: 70px;
		}

	}
	&__testNotes{
		color: #404040 !important;
		font-size: rem(13px);
	}
}

.pageBlocks--LC{
	.pageBlocks{
		&__text{
			h1, h2, h3{
				font-family: $font_2;
				font-weight: 400;
				line-height: 1em;
				text-transform: uppercase;
				margin-bottom: 0.5em;
			}
			h1{
				font-size: rem(42px);
				@media (max-width: $screen-xs-max) {
					font-size: rem(28px);
				}
			}
			h2{
				font-size: rem(36px);
			}
			h3{
				font-size: rem(28px);
			}
		}
		&__introWrap{
			transform: translateY(-55px);
			@media (min-width: $screen-sm-min) {
				max-width: 770px;
				transform: translateY(-100px);
			}
		}
		&__introText{
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 35px;
			padding-right: 35px;
			@media (min-width: $screen-sm-min) {
				padding-top: 70px;
				padding-bottom: 70px;
				padding-left: 75px;
				padding-right: 75px;
			}
			&__sol{
				margin-top: 10px;
				font-size: 0.9rem;
			}
		}
		&__itb{
			padding-top: 0;
			padding-bottom: 0;
			@media (min-width: $screen-sm-min) {
				@include flexWrapper(row,nowrap,space-between,center);
				&--imageRight{
					@include flexWrapper(row-reverse,nowrap,space-between,center);
					.pageBlocks__itbText{
						&__wrap{
							padding-left: 10vw;
							padding-right: 10vw;
						}
					}
				}
				& > div{
					width: 50%;
					flex-basis: 50%;
				}
			}
			@media (max-width: $screen-xs-max) {
				padding-top: 0;
				padding-bottom: 0;
				margin-top: 55px;
			}
		}
		&__itbText{
			p{
				color: $black;
				margin-bottom: 1.5em;
			}
			@media (max-width: $screen-xs-max) {
				padding-top: 40px;
				padding-bottom: 40px;
				padding-left:30px;
				padding-right:30px;
			}
			&__wrap{
				@media (min-width: $screen-sm-min) {
					padding-left: 10vw;
					padding-right: 10vw;
				}
			}
		}
		&__itbImage{
			@media (max-width: $screen-xs-max) {
				margin-top: 0;
				margin-bottom: 0;
			}
			&__wrap{
				@media (min-width: $screen-sm-min) {
					max-width: 720px;
					@include flexWrapper(row,nowrap,flex-end,center);
				}
			}
		}
		&__vb{
			@include cover;
			@include flexWrapper(row,nowrap,center,center);
			min-height: 60vh;
			@media (max-width: $screen-xs-max) {
				min-height: 50vh;
			}
			overflow: hidden;
			& > .container{
				@media (min-width: $screen-sm-min) {
					max-width: 920px;
				}
			}
		}
		&__vbVideo{
			display: block;
			position: absolute;
			width: 100%;
		}
		&__vbTitle{
			position: relative;
			z-index: 1;
		}
		&__vbLogo{
			position: absolute;
			bottom: 40px;
		}
		&__cib{
			padding-top: 80px;
			padding-bottom: 120px;
			@media (min-width: $screen-sm-min) {
				max-width: 600px;
			}
			@media (max-width: $screen-xs-max) {
				padding-top: 40px;
				padding-bottom: 80px;
			}
		}
		&__cibImage{
			margin-bottom: 40px;
		}
		&__cibTitle{
			margin-bottom: 40px;
		}
	}
}