.productLine{
	&__nav{
		@include flexWrapper(row,nowrap,space-between,stretch);
	}
	&__navTitle{
		@include flexWrapper(column,nowrap,center,center);
		padding-left: 35px;
		padding-right:35px;
		padding-top:12px;
		padding-bottom:12px;
		font-weight: bold;
		@media (max-width: $screen-xs-max) {
			@include flexWrapper(row,nowrap,center,center);
			padding-left: 20px;
			padding-right:20px;
			cursor: pointer;
			&:after{
				content: '';
				width: 13px;
				height: 7px;
				background-image: url(../images/arrow-down-small.svg);
				background-position:center;
				margin-left: 10px;
			}
		}
	}
	&__navMenu{
		@include flexWrapper(row,nowrap,center,center);
		margin-top: 17px;
		margin-bottom: 17px;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
	&__navItem{
		margin: 0 20px;
	}
	&__navShop{
		@include flexWrapper(column,nowrap,center,center);
		padding-left: 36px;
		padding-right: 36px;
	}
	&__visual{
		@include cover;
		@include flexWrapper(row,nowrap,center,center);
		min-height: 75vh;
		@media (max-width: $screen-xs-max) {
			min-height: 50vh;
		}
	}
	&__title{
		@media (min-width: $screen-sm-min) {
			font-size: rem(96px);
		}
	}
	&__text{
		h1, h2, h3{
			font-family: $font_2;
			font-weight: 400;
			line-height: 1em;
			text-transform: uppercase;
			margin-bottom: 0.5em;
		}
		h1{
			font-size: rem(40px);
			@media (max-width: $screen-xs-max) {
				font-size: rem(28px);
			}
		}
		h2{
			font-size: rem(32px);
		}
		h3{
			font-size: rem(24px);
		}
	}
	&__introWrap{
		transform: translateY(-55px);
		@media (min-width: $screen-sm-min) {
			max-width: 770px;
			transform: translateY(-100px);
		}
	}
	&__introText{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 35px;
		padding-right: 35px;
		@media (min-width: $screen-sm-min) {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 75px;
			padding-right: 75px;
		}
		&__sol{
			margin-top: 10px;
			font-size: 0.9rem;
		}
	}
	&__introVideo{
		margin-top: 100px;
		@media (max-width: $screen-xs-max) {
			margin-top: 55px;
		}
		.title{
			padding-bottom: 30px;
 		}
	}
	&__prop{
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,nowrap,center,center);
			& > div{
				width: 50%;
				flex-basis: 50%;
			}
		}
	}
	&__propTitle{
		margin-bottom: 0.3em;
	}
	&__propText{
		&__wrap{
			@media (max-width: $screen-xs-max) {
				padding-top: 90px;
				padding-bottom: 90px;
			}
			@media (min-width: $screen-md-min) {
				padding-top: 250px;
				padding-bottom: 220px;
				padding-left: 125px;
				padding-right: 125px;
			}
		}
	}
	&__princ{
		padding-top:185px;
		padding-bottom: 140px;
		@media (max-width: $screen-xs-max) {
			padding-top:125px;
			padding-bottom: 100px;
		}
	}
	&__princTitle{
		margin-bottom: 110px;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 55px;
		}
	}
	&__princSubtitle{
		font-size: rem(16px);
		font-weight: 300;
		&.title--underline{
			padding-bottom: 15px;
			margin-bottom: 15px;
			&:after{
				content: '';
				display: inline-block;
				width: 450px;
				border-bottom: 1px solid #000;
				position: absolute;
				bottom:0;
				left: 50%;
				transform: translateX(-50%);
				@media (max-width: $screen-xs-max) {
					width: 100%;
				}	
			}
		}
	}
	&__princList{
		&__el{
			padding-right:75px;
			@media (max-width: $screen-xs-max) {
				padding-right:35px;
			}
		}
		&__elImg{
			max-width: 115px;
			margin-bottom: 30px;
		}
		&__elName{
		}
		&__elNameLatin{
			font-weight: 300;
			font-size:rem(16px);
		}
		&__elDesc{
			margin-top: 10px;
			font-size:rem(14px);
		}
		.slick-dots{
			margin-top: 80px;
		}
	}
	&__ritual{
		padding-top:185px;
		padding-bottom: 140px;
		@media (max-width: $screen-xs-max) {
			padding-top:125px;
			padding-bottom: 100px;
		}
	}
	&__ritualTitle{
		margin-bottom: 12px;
	}
	&__ritualVideo{
		max-width: 100%;
		&__wrap{
			margin-top: 35px;
			@media (min-width: $screen-sm-min) {
				max-width: 930px;
			}
		}
	}
	&__prods{
		//padding-top:185px;
		padding-bottom: 140px;
		@media (max-width: $screen-xs-max) {
			//padding-top:125px;
			padding-bottom: 100px;
		}
	}
}