<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body { font-family: Helvetica,Arial, sans-serif; font-size: 12px;color:#000000; background-color: #ffffff} 
td,th{height:50px;border-bottom:dotted 1px #cccccc; width:50%;}
h1 {color:#000;	font-size:13px; font-weight: normal}
h2 { font-size:13px}
table {font-family: Helvetica, Arial, sans-serif; font-size: 12px; background-color: #ffffff;}
</style>
<div align="center">
	<img src="http://www.cdzvini.com/wp-content/themes/default_theme/assets/email_template/logo_sim.jpg" border="0" width="270" height="64" /><br /><br />
	<h1>RICHIESTA CONTATTO DA CDZVINI.COM</h1><br /><br />
	<table border="0" cellspacing="01" cellpadding="1" width="60%">
		<tr>
			<th align="right" scope="row">NOME:&nbsp;</th>
			<td>[nome]</td>
		</tr>
		<tr>
			<th align="right" scope="row">EMAIL:&nbsp;</th>
			<td>[email]</td>
		</tr>
		<tr>
			<th align="right" scope="row">TELEFONO:&nbsp;</th>
			<td>[telefono]</td>
		</tr>
		<tr>
			<th align="right" scope="row">AZIENDA:&nbsp;</th>
			<td>[azienda]</td>
		</tr>
		<tr>
			<th align="right" scope="row">NAZIONE:&nbsp;</th>
			<td>[nazione]</td>
		</tr>
		<tr>
			<th align="right" scope="row">MESSAGGIO:&nbsp;</th>
			<td>[messaggio]</td>
		</tr>
	</table>
</div>