.singlePost{
	&__wrap{
		@media (min-width: $screen-sm-min) {
			@include flexWrapper(row,nowrap,space-around,flex-start);
		}
	}
	&__content{
		@media (min-width: $screen-sm-min) {
			width: 75%;
			flex-basis: 75%;
			padding-right: 80px;
		}
	}
	&__sidebar{
		margin-top: 15px;
		@media (min-width: $screen-sm-min) {
			width: 25%;
			flex-basis: 25%;
			padding-left: 70px;
			border-left: 1px solid $bg;
		}
		&Title{
			margin-bottom: 35px;
		}
		.archNews{
			&__item{
				width: 100%;
				flex-basis: 100%;
				margin-bottom: 35px;
			}
			&__itemFeat{
				min-height: 165px !important;
			}
			&__itemTit{
				font-size: 1.5rem !important;
			}
			&__itemTextWrap{
				padding: 0 15px 15px;
				margin:0 !important;
				max-width: none !important;
			}
			&__itemExc{
				display: none;
			}
		}

	}
	&__back{
		display: block;
		font-size: 0.8rem;
		color: $black !important;
		text-transform: uppercase;
		line-height: 10px;
		margin-top: 15px;
		font-weight: 600;
	}
	&__tit{
		font-size: 2.4rem;
		margin-bottom: 10px;
		margin-top: 45px;
	}
	&__sub{
		font-size: 1.1rem;
		font-weight: 700;
	}
	&__feat{
		width: 100%;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	&__text{
	}
	&__cont{
		color: lighten($black, 35%);
		@media (max-width: $screen-xs-max) {
			font-size: 1.1rem;
			line-height: 1.5em;
		}	
		p{
			padding-bottom: 25px;
		}
		h1, h2, h3, h4, h5{
			font-family: $font_2;
			display: block;
			color: $black;
			line-height: 1.15em;
		}
		h2{
			font-size: 2.15rem;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		h3{
			font-size: 1.75rem;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		h4{
			font-size: 1.5rem;
			margin-top: 15px;
			margin-bottom: 10px;
		}
		ul{
			list-style: disc;
			margin-left: 15px;
			margin-top: 15px;
		}
	}
}